#main_head{
    font-size: 100px;
    text-align: center;
    padding: .5%;
    margin: .5%;
    text-shadow: 2px 2px black; 
    background: red;
    text-decoration-line: none; 
}


.body{
    height: 1000px;
    float: left;
    padding: .5%;
    margin: .5%;
    margin-top: 0px;
    margin-bottom: 0px;
}
#side_bar{
    width: 18%;
    background-color: aqua;
}
#section{
    width: 78%;
    background-color: brown;
}


.main{
    height: 80px;
    padding: .5%;
    margin: .5%;

}
.rq{
    text-align: center;
    font-size: 20px;
    background: green;
    width: 65%;
    height: 40%;
    padding: .5%;
    margin: .5%;
}
#qt{
    height: 90%;
    font-size: 40px;
    background: blue;
    width: 100%;
    text-align: center;
}

.Quote_Box{
    height: 250px;
    padding: .5%;
    padding-bottom: 0;
    margin: .5%;
    margin-bottom: 0;
}
.boxpic{
    width: 30%;
    height: 90%;
    margin: 5px;
} 
.pic{
    height: 100%;
    width: 100%;
}

#left{
    float: left;
}
#right{
    float: right;
}







#main{
    font-size: 30px;
    height: 60px;
    padding-top: 5px;
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: aqua;
    text-align: center;
}

#add_Bar{
    height: 1000px;
    background: blue;

}
.hold_form{
    width: 50%;
    background: red;
    margin-left: 25%;
    height: 75%;
    margin-top: 10%;

}
.form{
    font-size: 30px;
    margin: 5px;
    padding: 5px;
    text-align: center;
} 

#list{
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: blue;
    width: 98.9%;
    height: 300px;
}
.tem{
    flex: 25%;
    width: 10%;
    float: left;
}






#addqt{
    font-size: 30px;
    width: 30%;
    height: 80%;
    float: left;
    margin: .5%;
    padding: .5%;
    text-align: center;
    background: olivedrab;
}


.toolBar{
    height: 200px;
    margin: 5px;
    padding: 5px;
    background: rgb(71, 212, 58);
}



.login{
    background-color:blue;
    padding: 1%;
    margin: 1%;
    margin-left: 15%;
    margin-right: 15%;
    height: 250px;
}
.answers{
    padding: 20%;
    padding-top: 10%;
}
